<body>
    <header>
        <div class="headerClass">
            <a href="index.html"><img class ="logo" src="\assets\img\Logo R.png" alt="logo">
            </a> 
        </div>
    </header>
    
    <section class="pagina">
        <form action="action_page.php" style="border:1px solid #ccc">
            <div class="container">
              <h1>Cadastro</h1>
              <p>Preencha o formulário abaixo para fazer seu cadastro.</p>
              <hr>
          
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Digite seu email" name="email" required>
          
              <label for="psw"><b>Senha</b></label>
              <input type="password" placeholder="Digite sua senha" name="psw" required>
          
              <label for="psw-repeat"><b>Repetir senha</b></label>
              <input type="password" placeholder="Digite novamente sua senha" name="psw-repeat" required>
          
              <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Lembrar de mim
              </label>
          
              <p>Ao fazer cadastro, você aceita nossos<a href="#">Termos de Privacidade</a>.</p>
          
              <div class="clearfix">
                <button type="button" class="cancelbtn">Cancelar</button>
                <button type="submit" class="signupbtn">Cadastrar</button>
              </div>
            </div>
          </form>
    </section>
</body>